{% extends 'base.html' %}
{% block title %}
<title>О компании</title>
{% endblock %}
{% block content %}
<div class="container text-center mt-4 mb-4">
<div style="margin-bottom: 20px">
<h class="h-mobile" style="font-size: 2.5em">О компании</h>
    </div>
    <div id="about">
<p>
Наша компания присутствует на европейском рынке автомобилизации с 2001 года. Были многочисленные партнерские отношения, которые помогли нам понять его специфику, благодаря чему мы завоевали доверие тысяч клиентов, предлагая им лучшее качество обслуживания. Компания Exotic Car Parts была создана людьми, движимыми энтузиазмом, людьми, которые ценят надлежащий уровень эксплуатации и обслуживания престижных брендов. Лояльность к клиентам - не единственное, что отличает нашу компанию. Многие партнеры полностью доверяют нам, поэтому в настоящее время наше предложение состоит из товаров, которые сложно приобрести даже в авторизованных сервисах по всей Европе.
</p>
Наша компания на протяжении многих лет специализируется на обороте автомобилей, как новых, так и подержанных. Воспользовавшись возможностями, предоставляемыми открытыми границами и партнерской открытостью наших западных соседей, мы начали расширять фирмы, которые в настоящее время процветают на самом высоком уровне, пользуясь неизменным уважением среди покупателей, а также наших избранных партнеров.
<p>
Предложение экзотических автозапчастей ориентировано на западную часть Европы, тем не менее, мы постоянно расширяем сферу деятельности, и на данный момент нашими услугами пользуются покупатели из самых отдаленных уголков Старого континента. Детали, как новые, так и бывшие в употреблении, представляют собой проверенный ассортимент, который перед отправкой заказчику проходит специальную проверку.
</p>
Растущий спрос на предметы роскоши обнаруживается во всем мире. Это побудило нас предлагать новые и бывшие в употреблении детали известных брендов, будь то жестяные, механические, силовые элементы и элементы подвески, или оборудование спортивных и роскошных автомобилей. Мы являемся лидером в этой отрасли на рынке Германии и за его пределами.
<p>
Наша компания стремится распространять свою продукцию не только по всей Германии. Мы обслуживаем постоянных клиентов из всех стран Европейского Союза, а также из России, Кувейта, ОАЭ, Таиланда, Китая и США.
</p>
Высококвалифицированный персонал и современные склады, расположенные в Германии, Польше и США, позволяют нам выставлять тысячи тендеров нашим клиентам, формируя качество обслуживания на высшем уровне. Партнеры, собранные со всего Европейского Союза, оказывают поддержку, поэтому покупатель может получить практически любую часть эксклюзивного автомобиля через пару дней / недель. Как одна из немногих на рынке, у нас есть доступ к резаным и оловянным элементам, которые продаются владельцам автомобилей, которые больше не производятся. Эти детали становится все труднее и труднее получить, даже если они имеются на заводе.
</div>
</div>
{% endblock %}