<!DOCTYPE html>
{% load instagram_client %}
{% load static %}
<html lang="en">

<div id="instagram" style="padding-top: 2px">
    <div class="d-flex justify-content-center">
    <hr class="align-self-center" style="width: 30%; display: inline-block; border-top: 0.1rem solid rgba(0, 0, 0, 100); margin-right: 2%">
    <div class="align-self-center"><img src="{% static 'media/instagram-logo-banner.png' %}" style="width: 155px; height: auto"
    alt="instagram-logo" id="insta-image"></div>
    <hr class="align-self-center" style="width: 30%; display: inline-block; border-top: 0.1rem solid rgba(0, 0, 0, 100); margin-left: 2%">
    </div>
    <div class="d-flex justify-content-center" style="margin-bottom: 4px"><span class="align-self-center" id="ista-name">@exoticparts.eu</span></div>
</div>
</html>


